body
{
    width: 1260px;
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    background-image: url(../images/background.jpg);
    background-size: 100% 105%;
}

#signin_box
{
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 800px;
    background-color: #4789F0;
    color: black;
    /*box-shadow: 0px 5px 5px #B7B7B7;*/
    box-shadow: 0px 5px 5px black;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    overflow: scroll;
    padding-top: 20px;
}

#deck
{
    
}

#title_box
{
    height: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 10px;
    margin-top: 0px;

    
    background-color:rgba(0, 0, 0, 0.8);
}

img
{
    width: 130px;
    height: 60px;
    text-align: center;
}

.artist_img
{
    width: 100%;
    height: 100%; 
}

.box
{
    box-shadow: 0px 3px 3px black;
    width: 160px;
    height: 140px;
    background-color: black;
    color: white;
    cursor: pointer;
    float: left;
    margin-right: 17px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.artist_title
{
    margin-top: -34px;
    overflow: hidden;
    padding-top: 5px;
    background-color: black;
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6; 
    height:25px;
}

h1
{
    font-family: Arial;
    text-align: center;
    color: #555555;
}

h2
{
    font-family: Arial;
    text-align: center;
    color: white;
    font-weight: 100;
}
/*
h3
{
    font-family: Arial;
    text-align: center;
    color: white;
    font-weight: 100;
    position: fixed;
}
*/

#continue
{
    float: right;
    margin-top: -250px;
    width: 200px;
    height: 40px;
    box-shadow: 0px 3px 3px black;
    cursor: pointer;
    background-color: #5088ED;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16pt;
}