body
{
    padding-top: 70px;
    font-family: Arial;
    background-color: #E9EAED;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding-top: 10px;
    height: 70px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 1000px}
.col-sm-2{
    position: fixed;
    z-index:  99;
}
.col-sm-8{
    overflow-y: auto;
    padding-left: 250px;
    width: 950px;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    
    /*background-color: #167723;*/
    background-color: #5088ED;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 60px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
        position: absolute;
    }
    .row.content {height:auto;} 
}

#search_bar
{
    width: 420px;
    margin-left: 40px;
}

h1
{
    background-color: white;
    box-shadow: 2px 2px 2px #B7B7B7; 
    height: 60px;
    padding: 10px;
}

.recommendation
{
    height: 200px;
    width:100%;
    background-color: white;
    margin-top: 20px;
    box-shadow: 2px 2px 2px #B7B7B7;
    padding: 0px;
}

.artist_img
{
    float: left;
    width: 230px;
    height: 200px;
}

.artist_title
{
    margin-top: 5px;
    font-size: 16pt;
    color: #222222;
    text-align: center;
    font-weight: bold;
}

.s_img
{
    height: 32px;
    width: 128px;
    cursor: pointer;
    float: right;
    margin-right: 170px;
    margin-top: -30px;
}

.link
{

}

.well
{
    line-height: 10px;
}

iframe
{
    float: right;
    margin-right: 80px;
}

.like_icon
{
    height:18px;
    width:21px;
    margin-left: 15px;
    cursor: pointer;
}

button
{
    cursor: pointer;
    background-color: #D84F4F;
    left: 0px;
    top: 0px;
    z-index:  999;
}

.about
{
    cursor: pointer;
    color: white;
}

.about:hover
{
    text-decoration: underline;
    color: white;
}